.breadDiv {
  padding: .5rem;
  border-bottom: 1px solid #eee;
  background-color: #e1f0ff;
  border-radius: 0.3rem;
}

.detailedTitle {
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem;
}

.detailedContent {
  padding: 1.3rem;
  font-size: 1rem
}